{% extends "base.html" %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}
<h2>Bookings</h2>
<a class= "btn btn-success mb-3" href="{{ url_for('views.add_booking') }}">Book a trip</a>
{% if bookings == [] %}<p>No bookings yet</p>{% endif %}
{% for booking in bookings %}
<div class="card mb-2">
    <div class="card-body ">
        <h5>{{ booking['start'] }} -----> {{ booking['destination'] }}</h5>
        <p>departing at:{{ booking['departure_time'] }}  |  arriving at:{{ booking['arriving_time'] }}  |  price:{{ booking['price'] }}</p>
        <a class="btn-danger btn-sm" href="{{ url_for('views.delete_booking', booking_id=booking['id']) }}">Delete</a>
        <a class="btn-primary btn-sm" href="{{ url_for('views.ticket', booking_id=booking['id']) }}">View Ticket</a>
    </div>
</div>
{% endfor %}
{% endblock %}